@import 'https://fonts.googleapis.com/css?family=Fira+Mono';

#register {
	color: #333;
	background: #f8f8f8;
	font-family: 'Fira Mono', mono;
	font-size: 1rem;
	margin: 0;
	display: grid;
	width: 100%;
	height: 100vh;
	justify-items: center;
	align-items: center;
	padding: 0 6vw;
	box-sizing: border-box;
	line-height: 1.4;
}

target {
    justify-items: center;
	align-items: center;
	width: 100%;
	max-width: 30em;
	white-space: pre-line;
}

.button {
	justify-items: center;
	align-items: center;
	font-family: 'Fira Mono', mono;
	padding: 1em;
	font-size: 14px;
	border-radius: 4px;
	background: transparent;
	border: 2px solid #a7a8aa;
	color: #a7a8aa;
	cursor: pointer;
}