<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>출석관리 프로그램</title>
    <link href="/css/header2.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>
<style>
    #teacher {
        display: block;
        position: absolute;
        top: 300px;
        left: 30%;
    }

    #parents {
        display: block;
        position: absolute;
        top: 300px;
        left: 70%;
    }
</style>
<header>
<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="/">Lia</a>
    </div>
  </div>
</section>
    </header>
    
<body>
	<div class="content">
    <div class="teacher">
      <div class="container">
      <div class="container-inner">
      	<a class='teacherselect' href="/teacher">
          <img class="circle"/>
          <img class="img img1" src="/images/teacher.png"/></a>
        </div>
      </div>
      <div class="divider"></div>
      <div class="name">선생님</div>
      <div class="title">Teacher</div>
    </div>
    <div class="parent">
      <div class="container">
              <div class="container-inner">
          <a class='parentselect' href="/parents/select">
          <img
            class="circle"/>
          <img class="img img2" src="/images/family.png"/></a>
      </div>
      </div>
      <div class="divider"></div>
      <div class="name">학부모님</div>
      <div class="title">School Parent</div>
    </div>
</div>
</body>
</html>