<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>학부모 기능 선택</title>
    <link href="/css/header2.css" rel="stylesheet">
    <link href="/css/parentsSelect.css" rel="stylesheet">
</head>

<header>
<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="/">Lia</a>
    </div>
  </div>
</section>
    </header>

 <body>
     <div>
   <form method='POST' action='/parents/mychild'>
  <div class="segment">
    <h1>Sign up</h1>
  </div>
        <label for="name">이름:</label>
        <input id="name" name="name" type="text"><br>

        <label for="birth">생년월일:</label>
        <input id="birth" name="birth" type="date"><br>
        <button type="submit">작성</button>
    </form>

</div>


</body>
</html>