<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>선생님</title>
    <link href="/css/header2.css" rel="stylesheet">
    <link href="/css/teacherselect.css" rel="stylesheet">
</head>

<body>
<header>
<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="/">Lia</a>
    </div>
  </div>
</section>
    </header>
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <a href="/teacher/member/registration"><img src="/images/page.png"></a>
                    <h3>회원등록</h3>
                </div>
          </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <a href="/teacher/member/delete"><img src="/images/delete.png"></a>
                    <h3>회원삭제</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <a href="/teacher/member/list"><img src="/images/list.png"></a>
                    <h3>회원목록</h3>
                </div>
            </div>
    </div>
       <div class="card">
            <div class="face face1">
                <div class="content">
                    <a href="/teacher/member/attendlist"><img src="/images/list.png"></a>
                    <h3>출석회원목록</h3>
                </div>
          </div>
        </div>
       <div class="card">
            <div class="face face1">
                <div class="content">
                    <a href="/teacher/member/notattendlist"><img src="/images/list.png"></a>
                    <h3>미출석회원목록</h3>
                </div>
          </div>
        </div>
        </div>
</body>
</html>